* {
  margin: auto;
  padding: 0;
  border: 0;
  border-width: 0;
  line-height: 1.1;
  list-style: none;
  text-decoration: none;
  outline-style: none;
  font-family: "Muli", sans-serif;
}
body {
  padding: 0px;
  background: rgb(209, 209, 209, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor {
  height: 90vh;
  width: 90%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 2%;
  border: 3px solid black;
  border-radius: 5px;
}
.formulario {
  height: 98%;
  width: 32%;
  background: rgb(109, 109, 106);
  border: 2px solid black;
  border-radius: 5px;
  overflow:hidden;
  overflow-y: scroll;
}
.contenedor-texto{
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.mapa {
  height: 98%;
  width: 65%;
  background: rgb(58, 56, 55);
  border: 2px solid black;
  border-radius: 5px;
}
.forMap {
}
table, th, td {
  border: 1px solid black;
  text-align: center; 
  vertical-align: middle;
  margin: auto;
}
p{display:flex;}

