@charset "utf-8";
/* CSS Document */
 td { background-color: cornflowerblue; 
    cursor: pointer;}
 th { background-color: cornflowerblue;
	cursor: pointer;}
.card1{
	background : url("images/card1.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card2{
	background : url("images/card2.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card3{
	background : url("images/card3.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card4{
	background : url("images/card4.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card5{
	background : url("images/card5.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card2{
	background : url("images/card2.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card1{
	background : url("images/card1.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card6{
	background : url("images/card6.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card7{
	background : url("images/card7.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card8{
	background : url("images/card8.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card9{
	background : url("images/card9.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card10{
	background : url("images/card10.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card11{
	background : url("images/card11.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card12{
	background : url("images/card12.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.card13{
	background : url("images/card13.png");
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
#divFirst {
}
#scondDiv {
}


