.principal{
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 10px;
    grid-template-columns: 20% 1fr;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
    grid-column-gap: 20px;
}
.proyectos{
    display: flex;
    position: relative;
    width: 100%;
    height: 10em;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
.proyectos a{
    color: rgb(3, 18, 31);
}
button.boton{
    background-color: #5a7da1;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    box-shadow: blue;margin-left: 10px;
}
.photo{
    width: 7em;
    height: 7em;
    background-color: rgb(12, 12, 12);
    transform: rotate(45deg);
    display: flex;
    margin: 5% 5%;
    overflow: hidden;
    box-shadow: 4px 4px 10px;
    box-sizing: border-box;
}
.imgphoto{
    transform: rotate(-45deg);
}
.nombre{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    align-items: center;
}
.nombre h2{
    text-shadow: azure 2px 2px 5px;
    text-align: center; 
}
h3 {
    text-shadow: #3f3f66 1PX 3PX 1PX;
    font-weight: bold;
    font-style: oblique;
}

h6 {
  align-items: center;
  text-align: justify;
  text-align-last: center;
}
.footerDiv{
 background-color: black;
 width: 100%;
 height:100%;
 display:flex;
 flex-direction: column;
justify-content: center;
justify-items: center;
align-items: center;
 color: azure;
 z-index: 10;
 grid-column: 1 / span 2;
}
.footerDiv2{
    background-color: black;
    width: 100%;
    height:100%;
    display:flex;
    flex-direction: column;
   justify-content: center;
   justify-items: center;
   align-items: center;
    color: azure;
    padding: 20px;
    z-index: 10;
   }
.vacio{
    display: flex;
    position: relative;
    /* background: blue; */
    width: 100%;
    height: 10em;
    grid-column: 1 / span 2;
}
.cascade-text {
    font-size: 48px;
    animation: cascade 4s steps(40) infinite;
  }
  
  @keyframes cascade {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50px);
    }
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position:relative;
    
}

.carousel {
    display: flex;
    overflow: hidden;
}

.carousel img {
    width: 300px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin:30px;
    border: 2px solid black; /* Define el estilo del borde */
    padding: 5px; /* Agrega espacio dentro del borde */
} 
