.principal{
    background-color: rgb(36, 36, 109);
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 10px;
    grid-template-columns: 20% 1fr;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}
.proyectos{
    background-image: linear-gradient(rgb(36, 36, 109),#040440);
    display: flex;
    position: relative;
    width: 100%;
    height: 10em;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
.proyectos a{
    color: aliceblue;
}
.photo{
    width: 7em;
    height: 7em;
    background-color: rgb(12, 12, 12);
    transform: rotate(45deg);
    display: flex;
    margin: 5% 5%;
    overflow: hidden;
    box-shadow: 4px 4px 10px;
    box-sizing: border-box;
}
.imgphoto{
    transform: rotate(-45deg);
}
.nombre{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    align-items: center;
}
.nombre h2{
    text-shadow: azure 2px 2px 5px;
    border-bottom: 1px solid black;
}
h3 {
    text-shadow: darkblue 1PX 3PX 1PX;
    font-weight: bold;
    font-style: oblique;
}
